body{
    background: linear-gradient(to bottom, #009688 15%, #009688 15%, #DBDBD2 10%, #DBDBD2 10%);
    /* background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); */
    width: 100vw;
    height: 100vh;
}
.whatsapp{
    background-color: #E6DFD6;
    max-width: 1000px;
    margin:auto;
}
header{
    height: 50px;
}
.box_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: pink;
}