/* reset */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main */
body{
    display: flex;
    height: 100vh;
    justify-content:center;
    align-items: center;
    background: linear-gradient(to bottom, #009688 15%, #009688 15%, #DBDBD2 10%, #DBDBD2 10%);
    /* background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); */
    /* width: 100vw;
    height: 100vh;
} */
}
/* .whatsapp{
    background-color: #E6DFD6;
    max-width: 1000px;
    height: calc(98vh - 16px);
    margin:auto;
    
} */

/* ****button**** */
button{
    background: white;
    color: inherit;
	border: silver;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 1.875rem;
}

.searchbar{
    display: flex;
    align-items: stretch;
}
.searchbarinput{
    width: calc(100% - 1.875rem);
}
.chatinput{
    width: calc(100% - 3.75rem)
}
.app{
    background-color: #E6DFD6;
    width: 100%;
    max-width: 1000px;
    height: calc(100% - 3.75rem);
    display: flex;
    margin:auto;

}
/* header */
/* header{
    height: 50px;
    padding: 5px;
} */

header{
    background-color: #E6DFD6;
    display: flex;
    justify-content: space-between;
    
}
.header_button{
    line-height: 3.125rem;
}


.app_left{
    width: 30%;
    background-color: #E6DFD6;
}
.app_right{
    width: 70%;
    background-color: #E6DFD6;
}

.box_avatar{
    margin: 5px 5px 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.box_avatar img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.linecontact{
    display: flex;
    height: 3.125rem;
    padding: 0 0 .3125rem .3125rem;
    background-color: inherit;
    /* border:1px solid #E6DFD6; */
}

.nameandHour{
    display: flex;
    /* ///////// da rivedere l'allineamento\\\\\\\
    justify-content: space-between; */

}
.contactname{
    /* align-self: flex-end; */
}
.lastcontact{

}
.contact{
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    height: 82%;
        
}
/* // text// */
.fa-solid{
    color: silver;
    font-size: 20px;
}
.smaller{
    font-size: smaller;
    color: silver;
}
.notification{
    background-color: #8EDAFC;
}
/* ////// area chat/\\\\\ */
.areachat{
    width: 100%;
    height: calc(90vh - 50px);
    /* background-color: white; */
    background-image: url("../img/mine.jpg");
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding: 10px;

}
.messages{
    background-color: white;
    padding: .625rem;
    border-radius: .625rem;
    max-width: 50%;
}
.sent{
    background-color: aquamarine;
    align-self: flex-end;
}
.form-floating{
    background-color: white;
    height: 50px;
    border-radius: 5px;

}